/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

article {
    display: inline-block;
    align-self: center;
    width: 50%;
}
article p {
    text-align: left;
}
footer {
    display: inline-block;
    align-self: center;
    width: 50%;
}
body {
    margin: 8px auto;
    background: #fff;
    width: 100%;
    text-align: center;
}
#flag {
    margin-top: 3em;
    left: 35%;
    width: 400px;
    height: 280px;
    position: absolute;
}
#flag:before, #flag:after {
    position: absolute;
      content: '';
    }
#flag:before {
    width: 100%;
    height: 40px;
    top: 40%;
    left: 0;
  }
  #flag:after {
    width: 40px;
    height: 100%;
    top: 0;
    left: 30%;
  }

button {
    margin: 0 auto;
    display: block;
    font-size: xx-large;
    margin-top: 1em;
    background-color: lightgray;
    outline: none;
}
button:hover {
    transition: background-color 2s;
    background-color: white;
    outline: black solid 1px;
}
button:active {
    outline: black solid 3px;
}

#table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
tr td {
    outline: black solid 2px;
    padding: 1em;
}
tr td:hover {
    font-weight: bold;
}

tr th {
    font-size: 20px;
}
nav {
    border-bottom: 1px solid black;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: rgb(0, 12, 180);
}

nav a:hover {
    color: rgb(54, 131, 218);
}

footer a:hover {
    outline: 1px solid black;
}
